/.idea

web/node_modules
web/.pnp
web/.pnp.js
web/coverage
web/build

# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.idea

api/logs
api/*.log
api/npm-debug.log*
api/build/
api/node_modules/
api/.idea/
api/.npm
.eslintcache
api/*.tgz
api/*.jsbundle
api/.env
api/.DS_Store
